.firstrow{
    margin-top:30px;
    margin-bottom:70px;
    width:100%;
    text-align:center;
    font-family: 'PT Sans', sans-serif;
    font-weigth:bold;

}
  .secondrowfirstcolumn{
      margin-left:10px;
      text-align:center;
      font-family: 'PT Sans', sans-serif;
      font-weigth:bold;

}
.row1{
  margin: 0 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.row2{
  margin-top: 20px;

}
.col1{
}
.result{
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  
  margin-top: 20px;

}
